@import url('https://fonts.googleapis.com/css?family=Anton|Cormorant+Garamond|Lora');
.clearfix::after {
    content: '';
    display: table;
    clear: both;
}

body, html {
    font-family: 'Lora';
    margin: 0;
    a {
        text-decoration: none;
    }
}
body {
    height: 100vh;
    overflow: hidden;
}

nav {
    position: absolute;
    background: #FACE76;
    padding: 2em;
    width: calc(100% - 4em);
    height: calc(100vh - 4em);
    display: none;
    transform: scaleX(0);
    transform-origin: right;

    .close-btn {
        width: 18px;
        float: right;
        cursor: pointer;
        opacity: 0;
    }

    ul {
        list-style: none;
        font-family: 'serif';
        margin: 10% auto 0 auto;
        padding: 0;
        display: grid;
        grid-template-columns: repeat(4, 25%);
        width: 80%;
        
        a {
            color: white;
            font-weight: bold;
            font-size: 1.4em;
        }

        span {
            color: gray;
            display: block;
            font-size: .75em;
            margin-top: 20px;
        }

        li {
            opacity: 0;
        }
    }

}



.show-menu {
    display: block;
    animation: slide-menu 1s ease-in forwards;
    animation-timing-function: cubic-bezier(0.95, 0.05, 0.795, 0.035);

    .close-btn {
        animation: show-x 0.2s 1s forwards;
    }

    li {
        animation: show-li 1s 0.8s forwards;
    }

    li:nth-of-type(1) {
        animation: menu-item-anim .6s forwards 1s ease-in-out;
    }

    li:nth-of-type(2) {
        animation: menu-item-anim .6s forwards 1.2s ease-in-out;
    }

    li:nth-of-type(3) {
        animation: menu-item-anim .6s forwards 1.4s ease-in-out;
    }

    li:nth-of-type(4) {
        animation: menu-item-anim .6s forwards 1.6s ease-in-out;
    }
}

@keyframes slide-menu {
    from {
        transform: scaleX(0);
    }
    to {
        transform: scaleX(1);
    }
}

@keyframes show-x {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes menu-item-anim {
    0% {opacity: 1; transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 100, 0, 1); }
    4.1% { transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 41.971, 0, 1); }
    8.11% { transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 10.549, 0, 1); }
    12.11% { transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, -1.843, 0, 1); }
    16.12% { transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, -4.336, 0, 1); }
    27.23% { transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, -0.784, 0, 1); }
    38.34% { transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0.104, 0, 1); }
    60.56% { transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, -0.002, 0, 1); }
    82.78% { transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
    100% {opacity: 1; transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); } 
}

header {
    padding: 2em;

    .logo {
        color: black;
        font-size: 0.8em;
        font-weight: lighter;
    }

    .menu-btn {
        width: 25px;
        float: right;
        cursor: pointer;
    }
}

section {
    padding: 3em;
    padding-left: 4em;
    padding-right: 40em;

    h1 {
        font-size: 5vw;
        margin: 1em auto;
        width: 30vw;
        max-width: 50vw;
        text-align: left;
        letter-spacing: 10px;
        
        &::before {
            content: '';
            border-top: 2px solid rgb(0, 0, 0);;
            display: block;
            width: 90px;
        }

        img {
            width: 80vw;
            position: absolute;
            top: -6.5%;
            left: 40%;
            opacity: 0.6;
            z-index: -1;
        }
       
    }
}

.img-rotate {
    animation: imgRotate 3s;
    animation-fill-mode: forwards;
}

@keyframes imgRotate {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(90deg);
    }
}
